%table
  %tr
    %th Question
    %th Actions

  - questions.each do |question|
    %tr
      %td= question.title
      %td
        = link_to 'Show', question
        = link_to 'Edit', edit_question_path(question)
        = link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete

