%h1 Listing questions

= render :partial => "question_table", :locals => {:questions => @questions}

%br

= render :partial => 'form', :locals => {:question => @question}

= link_to 'New Question', new_question_path
