%p#notice= notice

%h2
  = @question.title
  
%p
  = @question.question

%div
  = link_to "Answers", question_answers_path(@question)

  /*= render :partial => 'answers/answer_table', :locals => {:answers => @answers}*/
  /*= render :partial => 'answers/form', :locals => {:answer => @answer}*/
