%table
  %tr
    %th Answer
    %th Actions

  - answers.each do |answer|
    %tr
      %td= answer.answer
      %td
        /*= link_to 'Edit', edit_answer_path(answer)*/
        /*= link_to 'Destroy', answer, :confirm => 'Are you sure?', :method => :delete*/

