%h1 Listing answers

%h2
  = @question.title
%p
  = @question.question

%table
  %tr
    %th Answer
    %th Actions
  = render :partial => @question.answers

%div
  = link_to "New Answer", new_question_answer_path(@question)
